.negrita{
	font-weight: bold;
}

.br{
	word-break: keep-all;
}

.nav-menu-detalle{
	    margin-right: -20px;
}

.hr {
       margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #EEEEEE;
}